/* This file is for your main application css. */
@import "bootstrap";
.btn-social{
  font-color: white;
}
.nav-right{
  color: white;
  margin-left:10px;
}
.btn-name{
  margin-top: 10px;
  float: right;
}
.warn{
  color: red;
}
