/* This file is for your main application css. */
@import "bootstrap";

h2 {
  font-family: Georgia, serif;
  margin-bottom: 1em;
}

.btn-social{
  font-color: white;
}
.nav-right{
  color: white;
  margin-left:10px;
}
#span-name{
  margin-right: 10px;
}
.btn-name{
  margin-top: 10px;
  float: right;
  margin-left: 10px;
}
.btn-cancel{
  margin-top: 10px;
}
.warn{
  color: red;
}
.head-photo{
  width: 35px;
  height: 35px;
}
